nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') BluePrint
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle.profile-link(href='#', data-toggle='dropdown', role='button', aria-expanded='false')| Profile
            span(class='caret')
          ul.dropdown-menu
            li
              a(href='#') Password
            li
              a(href='#') Settings
            li
              a(href='#') Action
            li.divider
            li
              a(href='#') Advanced
            li.divider
            li
              a(href='#') Logout
        li
          a.exit-link(href='#') Exit
