extends layout

block content
  div(class='jumbotron')
    h2 Jumbotron
    p Let's start by displaying some node functionality. Let's see what standard node modules interface with a system.
    p
      a(class='btn btn-default btn-sm') Learn More
  
  div(class='row-1')
    #well_1.well.well-lg Look, I'm a well no 1
    #well_2.well.well-lg Look, I'm a well no 2
    #well_3.well.well-lg Look, I'm a well no 3
    #well_3.well.well-lg Look, I'm a well no 3
    
        
