html, body {
  height: 100%;
}

body {
  font-family: 'Work Sans';font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}


/* put everything at the center of the page */
.container {
  width: 70%;
  /*border: 1px solid black;*/
}

.container#body {
  height: 100%;
}

/* nav-bar starts here */
nav {
  list-style: none;
  width: 100%;
}

nav .navbar-brand {
    position: relative;
    padding-left: 2.5em;
}

nav .navbar-brand:before {
    content: "\f009";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

/*--adjust as necessary--*/
    color: #00bfff;
    font-size: 25px;
    padding-right: 1.5em;
    position: absolute;
    top: 10px;
    left: 5%;
}

/* profile drop-down */

nav .profile-link {
  position: relative;
}

nav .profile-link:before{
  content: "\f007";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;

/*--adjust as necessary--*/
  color: #ffffff;
  font-size: 20px;
  position: relative;
  top: 0.1em;
  right: 0.3em;
}

nav .dropdown-menu {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  text-align: left;
  width: 100%;
  min-width: 50%;
  z-index: 1;
}


/* add slide-down-up animation */
.dropdown-menu {
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    display: block;
}

.open .dropdown-menu {
    opacity: 1;
}


/* exit link */
nav .exit-link {
  position: relative;
}

nav .exit-link:before{
  content: "\f011";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;

/*--adjust as necessary--*/
  color: #ffffff;
  font-size: 20px;
  position: relative;
  top: 0.1em;
  right: 0.3em;
}


/* jumbotron */

.jumbotron{
  padding: 1%;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 28px #000000;
  -moz-box-shadow: 0px 0px 28px #000000;
  box-shadow: 0px 0px 28px #000000;
  background-color: #DDDDDD;
  opacity: 0.5;
  padding: 10px;
  font-size: 12pt;
  color: #000000;
}

.jumbotron p {
  font-size: 16px;
}

.jumbotron .btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


/* first row below the jumbotron */
.row-1{
  display: flex;
  flex-direction: row;
  /*border-style: ridge;*/
  justify-content: space-between;
}

.row-1 .well {
  /*border: 1px solid black;*/
  width: 24%;
  height: 100%;
  margin-bottom: auto;
  text-align: center;
  padding: 1em;
  position: inherit;

}

footer {
  font-size: 10px;
}
